@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

p,
h3,
h1,
h2,
a,
div {
  margin: 0;
  padding: 0;
}

a {
  color: black !important;
  cursor: pointer;
}

.space {
  border-right: 2px black solid;
}

.bg {
  padding-block: 0.4rem;
}

.bg:hover {
  border-radius: 10px;
  background-color: #eaf2fd !important;
  scale: 1.04;
}

.search-bar {
  background-color: #eaf2fd !important;
}

.color {
  background-color: #d8e3f5;
  border-radius: 10px;
  cursor: pointer;
}

.color:hover {
  background-color: #eff4fc;
  scale: 1.04;
  transform: 0.3s;
}

.img-container {
  width: 2rem;
  height: 2rem;
  background-color: white;
}

.img-cont {
  width: 5rem;
  height: 5rem;
  background-color: white;
}
